

h3,nav ul li,.nav_title_3 ul li,nav span,button{
	font-size: 16px;
	font-weight: bold;
	color: #FFF;
}

.hoverButton,p,span{
	font-size: 14px;
	color: #FFF;
}


#t_banner,#v_presentation{
	width: 1196px;
	margin: 50px auto;
	overflow: hidden;
}

#t_banner ul li{
	width: 229px;
	height: 120px;
	float: left;
	margin-right: 70px; 
}
#t_banner ul li h3{
	color: #000;
	width: 200px;
	font-size: 20px;
	font-weight: normal;
}


.slogen,.shaddow,.videoBox,.videoBox_2,.imgCut,.playIcon{
	width: 398px;
	height: 261px;
}

.slogen,video,.shaddow,.videoBox_2 h2,.videoBox h3,.imgCut,.playIcon{
	position: absolute;
	float: left;
}

.videoBox,.videoBox_2{
	float: left;
	position: relative;
	text-align: center;
	overflow: hidden;
}

.videoBox h3{
	top: 30px;
	width: 399px;
	font-size: 22px;
	font-weight: normal;
	display: none;
}
.playIcon{
	background: url(images/play.png) no-repeat center;
	display: none;
}
.videoBox_2 h2{
	top: 60px;
	width: 399px;
}

.slogen{
	background: #242424;
	font-size: 16px;
	color: #999;
	line-height: 261px;
}
.shaddow{
	background: #000;
	opacity: 0.3;
	display: none;
	transform: opactity();
	transition: 1s;
}
video{
	height: 261px;
	left: 0;
	display: none;
}


/****************************************introduction*********************/

#Introduction{
	margin-top: 30px; 
	color: #000;
	text-align: center;

}
.icon_items{
	margin-top:20px;
	position: relative;
}
.icon_items ul{
	width: 1196px;
	height: 135px;
	margin: 0 auto;
	overflow: hidden;
}

.icon_items ul li{
	width: 188px;
	height: 135px;
	float: left;
	margin-left: 41px;
	cursor: pointer;
	padding-top: 20px;
}

.icon_bg{	
	width: 85px;
	height: 75px;
	margin: 0 auto;
}
.icon_bg_hover{
	width: 85px;
	height: 75px;
	margin: 0 auto;
	background: url(images/icons_bg2-back.gif) -15px 0 no-repeat;
}
.h4-hover{
	color: #FFF;
}


.list_intro{
	width: 100%;
	height: 311px;
	display: none;
	color: #FFF;
}
.subject{
	width: 200px;
	height: 220;
	float: left;
	margin: 90px 0 0 100px;
}
.subject_short{
	width: 500px;
	margin: 0px auto;
}
.subject_short h2{
	padding-top: 60px;
}
.list_intro ul{
	width: 900px;
	height: 350px;

}
.list_intro ul li{
	width: 250px;
	height: 220;
	text-align: left;
	margin-top: 100px;
}
.list_intro ul li:hover{
	color: #00B7FF;
}
.list_intro h3{
	font-weight: normal;
	margin: 10px 0;
}
.list_intro span{
	color: grey;
}


/*----------------------------------------------------introduction2----------------------------------*/

.system{
	width: 1196px;
	margin: 20px auto 100px auto;
	text-align: left;
}
.system h3,.system p{
	color: #000;
}
.system h3{	
	font-size: 20px;
	margin-top: 5px;
}
.ai_join_pannel{
	width: 500px;
	height: 180px;
	float: left;
	cursor: pointer;
	padding: 40px 0 0 40px;
	margin: 0 0 0 40px;
}
.ai_join_pannel:hover{
	background: #EEE;
}
.system:after{
	content: '\0020';
	display: block;
	clear: both;
	height: 0;
}
.ai-join-title{
	width: 200px;
	float: left;
	height: 180px;
	text-align: center;
	padding-top: 20px;
}
.ai_join_pannel p{
	width: 430px;
}


#Solution{
	text-align: center;
	height: 699px;
	background: url(images/solution_background.png) no-repeat;
	overflow: hidden;
}
#Solution h1{
	color: #FFF;
	padding-top: 100px;
	margin: 0;
}
.s_show{
	height: 340px;
	padding-top: 15px;
	width: 3000px;
	margin-top: 64px;
	overflow-x: auto;
	overflow-y: hidden;
	position: relative;

}
.s_show h2{
	color: #000;
	font-size: 22px;
	margin: 20px 0 0 10px; 
	text-align: left;
}
.s_show span{
	color: #000;
	text-align: left;
	margin: 0 0 0 10px;
	text-indent: 0;
}

.s_box{
	width: 230px;
	height: 310px;
	float: left;
	background: #FFF;
	margin-left: 40px;
}
.s_box:hover{
	transform: scale(1.1);
	transition: 500ms transform;
	cursor: pointer;
}
.scroll_line{
	width: 300px;
	height: 5px;
	background: #909398;
	margin-top: 85px;
	position: relative;
}


#Custom{
	text-align: center;
	width: 100%;
}
#Custom ul{
	width: 1196px;
	margin: 0 auto;
}
#Custom ul li{
	float: left;
	width: 100px;
	height: 110px;
	margin: 0 10px;
	margin-left: 50px;
}
#Custom img{
	height: 60px;
	margin-bottom: 10px;
}
#Custom ul:after{
	content: '\0020';
	clear: both;
	display: block;
	height: 0;
}
.hr{
	margin: 0 auto;
	width: 1120px;
	height: 3px;
	background: #EEE;
}
.scrollHr{
	width: 120px;
	height: 3px;
	background: #252525;
	position: relative;
	transition: 1s left;
	left: 0;
}
.ai_custom_box{
	width: 1196px;
	height: 390px;
	margin: 0 auto;
	position: relative;
}
.ai_custom_detail{
	display: none;
	height: 340px;
	position: absolute;
	float: left;
	padding: 100px 0 0 150px;
}
.ai_custom_detail span{
	font-size: 14px;
	color: #00B7FF;
}
.ai_custom_info h3, .ai_custom_info span{
	color: #000;
}
.ai_custom_info h3{
	font-weight: normal;
	font-size: 28px;
}

.ai_custom_info{
	width: 150px;
	float: left;
}
.ai_custom_photo{
	width: 80px;
	height: 80px;
    margin: 0 auto 10px auto;
    background-size: cover;
}
.ai_custom_introduction{
	width: 650px;
	font-size: 18px;
	line-height: 32px;
	text-align: left;
	text-indent: 40px;
	margin: 0 0 50px 220px;
}

#Partner{
	text-align: center;
	background: #EEE;
	height: 750px;
}
#Partner h1{
	padding-top: 100px;
	margin: 0;
}
.ai_partner_author{
	width: 1196px;
	margin: 70px auto 0 auto;
}

#Partner ul{
	width: 996px;
	height:124px; 
	overflow:hiiden;
	margin: 50px auto;
}
.ai_partner_box{
	width: 390px;
	height: 150px;
	float: left;
}
.ai_partner_box h4{
	font-weight: normal;
	font-size: 24px;
	text-align: center;
}
.ai_partner_box p{
	width: 240px;
	margin: 20px auto;
	line-height: 24px;
	color: #000;
	font-size: 16px;
	text-align: left;
}
#Partner ul{
	width: 996px;
	height:124px; 
	overflow:hiiden;
	margin: 50px auto;
}
#Partner ul:after,.ai_partner_author:after{
	content: '\0020';
	display: block;
	height: 0;
	clear: both;
}
#Partner ul li{
	display:block; 
	width:124px;
	height:124px;
	float:left;
	padding:0px; 
	background-size:cover;
}
#Partner ul li:hover{ 
	transform:scale(1.2); 
	-ms-transform:scale(1.2);
	-webkit-transform:scale(1.2);
	-o-transform:scale(1.2);
	-moz-transform:scale(1.2);
	transition: .3s transform;
	box-shadow: 0 0 2px 1px rgba(200, 200, 200, 0.5);
}
#Partner button{
	width: 150px;
	height: 60px;
	border: 3px solid #00B7FF;
	background: #00B7FF;
	color: #FFF;
	line-height: 60px;
	margin-bottom: 70px; 
}
#Partner button:hover{
	background: #FFF;
	color: #00B7FF;
}
#Product{
	text-align: center;
	height: 660px;
	background: url(images/index.png) no-repeat;
	background-color: #00B7FF;
}
#Product h1{
	margin: 0;
	padding-top: 100px;
	color: #FFF;
}
#Product p{
	width: 600px;
	margin: 20px auto;
	font-size: 16px;
	line-height: 24px;
}
#Product button{
	width: 150px;
	height: 60px;
	border: 3px solid #FFF;
	background: #00B7FF;
	color: #FFF;
	line-height: 60px;
	margin-bottom: 70px; 
}
#Product button:hover{
	background: #FFF;
	color: #00B7FF;
}
.ai_data_show{
	width: 1196px;
	height: 240px;
	margin: 0px auto;
	padding-top: 20px;
}

.ai_data_show:after{
	content: '\0020';
	display: block;
	height: 0;
	clear: both;
}

.data{
	width: 200px;
	height: 220px;
	float: left;
	margin-left: 150px; 
}
.data_num{
	font-size: 110px;
}
.data_unit{
	font-size: 18px;
}
.data_tag{
	color: #FFF;
	font-size: 24px;
}
