
h3,nav ul li,.nav_title_3 ul li,nav span,button{
	font-size: 16px;
	font-weight: bold;
	color: #FFF;
}

.hoverButton,p,span{
	font-size: 14px;
	color: #FFF;
}




footer{
	height: 476px
}
.fNav{
	height: 376px;
	width: 100%;
	background: #161616;
	padding-top:50px;
}
.fNav_box{
	width: 1196px;
	margin: 0 auto;
}
.link_list{
	width: 240px;
	float: left;
}
.link_list h5{
	width: 240px;
	color: #FFF;
	font-size: 18px;
	font-weight: normal;
}
.link_list p{
	width: 200px;
	color: #AAA;
}
.link_list h5:hover,.link_list p:hover{
	color: #00B7FF;
	cursor: pointer;
}
.copyRight{
	height: 50px;
	background: #000;
	color: #999;
	font-size: 14px;
	line-height: 50px;
}
.copyRight span{
	color: #999;
	float: left;
	padding-left: 100px;
}

.copyRight ul li{
	float: left;
	margin-left: 20px;
}
.copyRight ul li:hover{
	color: #00B7FF;
	cursor: pointer;
}