<header>
  <div class="logo"></div>
  <nav>  		
  <ul id="navBox">
    <li><a href="">{{ nav_title[0] }}</a>
      <div class="nav_title_2">
      <h3>{{ title_2[0] }}</h3>
      <p *ngFor="let list of list_1">{{ list }}</p>

      <h3>{{title_2[1]}}</h3>

      <h3>{{title_2[2]}}</h3>

      <h3>{{title_2[3]}}</h3>
      <p *ngFor="let list of list_2">{{ list }}</p>

      <h3>{{title_2[4]}}</h3>
      <p *ngFor="let list of list_3">{{ list }}</p>

      <h3>{{title_2[5]}}</h3>
      <p *ngFor="let list of list_4">{{ list }}</p>

      <h3>{{title_2[6]}}</h3>
      <p *ngFor="let list of list_5">{{ list }}</p>

      <h3>{{title_2[7]}}</h3>
      <p *ngFor="let list of list_6">{{ list }}</p>

      <h3>{{title_2[8]}}</h3>
      <h3>{{title_2[9]}}</h3>

      <h3>{{title_2[10]}}</h3>
      <p *ngFor="let list of list_7">{{ list }}</p>

      <h3>{{title_2[11]}}</h3>

      <h3>{{title_2[12]}}</h3>				

      <h3>{{title_2[13]}}</h3>

      <h3>{{title_2[14]}}</h3>
      <p *ngFor="let list of list_8">{{ list }}</p>

      <h3>{{title_2[15]}}</h3>
      <p *ngFor="let list of list_9">{{ list }}</p>

      <h3>{{title_2[16]}}</h3>
      <p *ngFor="let list of list_10">{{ list }}</p>

      <h3>{{title_2[17]}}</h3> 
      <p *ngFor="let list of list_11">{{ list }}</p>

      <h3>{{title_2[18]}}</h3>

      <h3>{{title_2[19]}}</h3>
      <p *ngFor="let list of list_12">{{ list }}</p>
    </div>
    </li>
    <li>
      <a href="">{{ nav_title[1] }}</a>
      <div class="nav_title_3">
        <ul>
        <li *ngFor="let list of list2">{{ list }}</li>
      </ul>
      </div>
    </li>
    <li>
      <a href="">{{ nav_title[2] }}</a>
      <div class="nav_title_4">
        <ul>
          <li *ngFor="let list of list3">{{ list }}</li>
      </ul>
      </div>
    </li>
    <li>
      <a href="">{{ nav_title[3] }}</a>
      <div class="nav_title_4">
        <ul>
            <li *ngFor="let list of list4">{{ list }}</li>
        </ul>
      </div>
    </li>
    <li>
      <a href="">{{ nav_title[4] }}</a>
    </li>
  </ul>
  <span><a href="">资讯</a></span>
  <span><a href="">社区</a></span>
  <div class="btn"><button type="button">控制台</button></div>
</nav>

</header>